* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.profile {
  width: 30vw;
  margin: 20px auto;
  padding: 40px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: #bcb4ae 0px 0px 9px 2px;
}
.profile .title {
  background-color: #007bff;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-family: sans-serif;
  margin-bottom: 15px;
}
.profile .picture h2,
.contact h2,
.about-me h2,
.personal-information h2 {
  background-color: #007bff;
  text-align: left;
  color: white;
  padding: 10px 5px;
  font-family: sans-serif;
  margin-bottom: 15px;
}
.profile .contact p,
.about-me p,
.personal-information p {
  color: #666666;
  font-family: sans-serif;
  margin-bottom: 15px;
}
.profile .contact p a {
  text-decoration: none;
  color: #007bff;
}
.profile .about-me ul {
  color: #666666;
  font-family: sans-serif;
  margin-left: 4.5%;
  margin-bottom: 15px;
}
.profile .picture img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 250px;
  border-radius: 50%;
  border-bottom: 1px solid gray;
}
.profile .footer {
  margin-top: 20px;
  border-bottom: 1px solid gray;
}
