* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.course-container {
  width: 300px;
  border-radius: 8px;
  border: 1px solid gray;
}
.course-container img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 6px;
}
.course-container .information {
  padding: 10px;
}
.course-container .information .title {
  font-family: sans-serif;
  margin-bottom: 10px;
}
.course-container .information .date-author {
  font-size: 88%;
  font-family: sans-serif;
  color: #666;
  margin-bottom: 10px;
}
.course-container .information .duration {
  font-family: sans-serif;
  font-size: 1rem;
}
.course-container .information .duration::after {
  content: "";
  display: block;
  height: 2px;
  width: 92%;
  background-color: #0000ff;
  margin: 10px auto;
}
.course-container .information .description {
  font-family: sans-serif;
  font-size: 1rem;
  word-spacing: 2.2px;
}
.course-container .information .contact {
  padding: 10px 20px;
  width: 94%;
  background-color: #007bff;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  margin: 15px auto;
  display: block;
  font-family: sans-serif;
  font-size: 1rem;
}
