* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 60vw;
  margin: 20px auto;
  border: 1px solid #45a049;
  padding: 30px 20px;
}
.container .title {
  text-align: center;
  margin-bottom: 15px;
}
.container form .input-block .input input {
  width: 100%;
  height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container form .forgot {
  display: block;
  text-align: right;
  text-decoration: none;
  margin-bottom: 15px;
}
.container form .submit {
  width: 95%;
  background-color: rgb(69 198 74);
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
.container form .submit:hover {
  background-color: #45a049;
}
.container form .resgister {
  text-align: center;
}
.container form .resgister a {
  color: #0000ff;
}
